/* TEXT CONTROLLERS */

.controlers{
  display: flex;
  direction: ltr; /* for correct slider direction */
  flex-direction: row-reverse; /* for correct slider-label oreder */
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  right: 5px;
  z-index: 100;
  opacity: 0;
  position: relative;
}

.tuner input[type=range].styleslider {
  -webkit-appearance: none;
  width: 100%;
}

.textTester input[type=range].styleslider {
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

input[type=range].styleslider:focus {
    outline: 0px solid transparent;
}

input[type=range].styleslider::-webkit-slider-runnable-track {
  width: 50%;
  height: 1px;
  cursor: cell;
  background: var(--bg-color);
  border-radius: 0px;
  border: 0px solid var(--bg-color);
}

input[type=range].styleslider::-webkit-slider-thumb {
  border: 0px solid rgba(0, 0, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: var(--bg-color);
  cursor: cell;
  -webkit-appearance: none;
  margin-top: -4.1px;
}

.stylesliderLabel{
    color: var(--bg-color);
    font-family: 'NarkisBlock';
    font-weight: 100;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    letter-spacing: normal;
    line-height: normal;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate(0px,-10%);
    transition: opacity .2s ease,transform .2s ease;
    opacity: 0;
    width:50px; /* placeholder so '-' won't change margins*/
  }

.tooltiptext {
  font-family: 'NarkisBlock';
  font-size: 8pt;
  opacity: 0 ;
  /* width: 120px; */
  /* background-color: var(--bg-color); */
  color: var(--element-color));
  /* color: var(--bg-color); */
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  /* width: 20px; */
  top: 10%;
  /* margin-left: -10px; */
}


/* Hovering */
.styleslider.heightInput:hover ~ .stylesliderLabel.heightLabel{
    opacity:1;
}
.styleslider.spacingInput:hover ~ .stylesliderLabel.spacingLabel{
    opacity:1;
}
.styleslider.sizeInput:hover ~ .stylesliderLabel.sizeLabel{
    opacity:1;
}
.textTester:hover .controlers{
  opacity: 1;
}


.tuner:hover span{
  opacity: 1;
}

.tuner:hover .controlers{
  opacity: 1;
}

.styleslider.stylParam:hover ~ .stylesliderLabel.stylLabel{
    opacity:1;
}
.styleslider.wghtParam:hover ~ .stylesliderLabel.wghtLabel{
    opacity:1;
}
.styleslider.ctrsParam:hover ~ .stylesliderLabel.ctrsLabel{
    opacity:1;
}

.styleslider.stylParam:hover ~ .tooltiptext.stylLabel{
    left: 80%;
    opacity:1;
}
.styleslider.wghtParam:hover ~ .tooltiptext.wghtLabel{
    left: 15%;
    opacity:1;
}
.styleslider.ctrsParam:hover ~ .tooltiptext.ctrsLabel{
    left: 47%;
    opacity:1;
}




/* VARTOGGLES */

.btn{
    border: 2px solid var(--element-color);
    display: inline-block;
    padding: 6px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
    height: 18px;
}
input[type="radio"].toggle {
    display: none;
}
input[type="radio"].toggle+label{
    cursor: pointer;
    /* min-width: 10px; */
}
input[type="radio"].toggle+label:hover{
    background: none;
    color: var(--element-color);
}
input[type="radio"].toggle+label::after{
    background: var(--element-color);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}

input[type="radio"].toggle.toggle-left+label {
    border-right: 0;
}
input[type="radio"].toggle.toggle-left+label::after{
    left: 100%
}
input[type="radio"].toggle.toggle-right+label{
    margin-left: -5px;
}
input[type="radio"].toggle.toggle-right+label::after{
    left: -100%;
}
input[type="radio"].toggle:checked+label {
    cursor: default;
    color: var(--bg-color);
    transition: color 200ms;
}
input[type="radio"].toggle:checked+label::after{
    left: 0;
}
