* {
    box-sizing: border-box;
    font-family: 'Noordzij';
}

/* declaring global CSS variables */
:root {
  --element-color:  #f7f6f4;
  --bg-color: #191919;
  /* --element-color: #232323;
  --bg-color: #f7f6f4; */
  --page-margins: 3%;
  --font-variation-settings: "wght" 40, "ctrs" 1, "styl" 1;
}

/* font declerations */
@font-face {
  font-family: 'Noordzij';
  src: url('font/NoordzijTributev2GX.ttf');
  /* INITIAL font-variation-settings, defining NORMAL */
  font-weight: 10;
  font-style: 1;
}

.Noordzij{
  font-family: 'Noordzij';


}
/* numeric font */
@font-face {
    font-family: 'NarkisBlock';
    src: url('font/VC_NarkisBlock-Regular.otf');
}

body{
  margin: 0;
  background-color: var(--bg-color);
  overflow: hidden;
}

/* #instructions{
  position: absolute;
  left: var(--page-margins);
  top: 6%;
  object-fit: contain;
  height: 50px;
  opacity: 0.7;
} */

/* HEADER */


/* MAIN */

.main{
}

#opener{
  z-index: 10;
  position: absolute;
  left:20%;
  top:20%;
  background-color: white;
  height: 50%;
  width: 50%;
  opacity: 1;
  direction: rtl;
  padding-right: 50px;
  padding-left: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* TEXT TESTER*/

.textTester{
  display: flex;
  direction: rtl;
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0;
  color: var(--bg-color);
  overflow:hidden;
  background-color:var(--element-color);
}

.block1{
  position: relative;
  padding: var(--page-margins);
  margin: var(--page-margins);
  width: 90%;
  top: 30%;
  overflow:hidden;
  vertical-align: middle;
}

/* h1{
  background-color:white;
  padding: var(--page-margins) var(--page-margins) 6% var(--page-margins);
  font-size: 35pt;
  position: relative;
  line-height: 0.9;
  z-index: 100;
  font-weight: normal;
  margin-top: var(--page-margins);
  margin-bottom: var(--page-margins);
} */

h1::selection {
  color: pink;
}

h2{
  padding-bottom: var(--page-margins);
  font-size: 35pt;
  position: relative;
  margin: 0;
  line-height: 0.8;
  z-index: 100;
  font-weight: normal;
}

h2::selection {
  color: green;
}

h3{
  font-size: 10pt;
  position: relative;
  margin: 0;
  z-index: 100;
  font-weight: normal;
}

h3::selection {
  color: blue;
}


[contenteditable]:focus {
  outline: 0px solid transparent;
}


.tuner{
  padding: var(--page-margins);
  background-color:white;
  width: 150px;
  align-self: flex-end;
  text-align: center;
  /* position: absolute; */
  visibility: collapse;
}

.tuner.expand {
  visibility: visible;
  left: 50px;
}

.tuner  span{
  font-size: 150pt;
  height: 130px;
  overflow: hidden;
  line-height: 0.4;
  color: var(--element-color);
  display: block;
  opacity: 0.7;
}

.tuner .controlers{
  /* width: 20%; */
  /* flex-direction: column; */
  position:relative;
  /* z-index: 200; */
}

#settingsTag{
  direction: ltr;
  font-family: 'NarkisBlock';
  color: var(--element-color);
  padding-top: var(--page-margins);
  font-size: 10pt;
  display: inline-block;
}

#downloadIcon{
  object-fit: contain;
  height: 15px;
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 5px;
}


/* bottomSection */

.bottomSection{
  display: flex;
  align-items:flex-start;
  position: absolute;
  left: var(--page-margins);
  bottom: var(--page-margins);
  flex-direction: column;
  z-index: 100;
}

#messageInputBox{
  text-align: center;
  height:30px;
  font-family: 'NarkisBlock';
  margin-bottom: 10px;
}

#messageInputBox:focus {
  outline: 0px solid transparent;
}

/* COLOR ICONS */

.colorControlers{
  display: flex;
  flex-direction: column;
}

.icon{
  object-fit: contain;
  height: 30px;
  margin-bottom: 10px;
}

.icon:focus {
  outline: 0px solid transparent;
}

/* LETTER INSTANCES */

#gridContainer{
  cursor: cell;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 90%;
  z-index: -1;
}

.letter {
    cursor: cell;
    text-align: center;
    cursor: default;
    font-size: 65px;
    font-family: 'Noordzij';
    color: var(--element-color);
    line-height: 0.6;
    position: relative;
}
.letter:hover{
  cursor: cell;
}
