* {
    box-sizing: border-box;
    /* font-family: 'NarkisBlock'; */
    font-family: 'Noordzij';
    font-variation-settings: "wght" 140, "ctrs" 100, "styl" 0;
}

/* declaring global CSS variables */
:root {
  --element-color: black;
  --bg-color: white;
}

/* font declerations */
@font-face {
    font-family: 'NarkisBlock';
    src: url('font/VC_NarkisBlock-Regular.otf');
}
@font-face {
  font-family: 'Noordzij';
  src: url('font/NoordzijTributev2GX.ttf');
}
.Noordzij{
  font-family: 'Noordzij';
}

body{
  margin: 0;
  direction: rtl;
  background-color: var(--bg-color);
  height: 100%;
  overflow: hidden;
}

/* HEADER */


/* MAIN */

.main{
  display: flex;
  height: 100%;
}

/* LEFT FONT LIST TODO*/

.LEFTfontList{
  flex: 30%;
  justify-content: center;
}

#three_container{
  position: relative;
  flex: 30%;
}
/* .canvas{
  position: relative;
} */

/* RIGTH TEXT TESTER*/

.textTester{
  padding-right: 2%;
  padding-left: 2%;
  flex-direction: column;
  flex: 70%;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.block1{
  font-size: 10vw;
  line-height: 11vw;
}

h2{
  margin-top: 0;
  margin-bottom: 10%;
  color: var(--element-color);
}

h2::selection {
  color: blue;
}

/* COLOR CONTROLLERS */

.colorControlers{
  display: flex;
  justify-content: flex-end;
  margin: 10 0 20 20px;
  position: relative;
}

.icon{
  height: 17px;
  padding-left: 10px;
  cursor: cell;
}

.icon:focus {
  outline: 0px solid transparent;
}

#color-bg-container{
  position: absolute;
  left: 120px;
  display:none;
}
#color-text-container{
  position: absolute;
  top: 30px;
  display:none;
}
