* {
    box-sizing: border-box;
    font-family: 'Noordzij';
}

/* declaring global CSS variables */
:root {
  --element-color: #232323;
  --bg-color: #f7f6f4;
  --page-margins: 3%;
  --font-variation-settings: "wght" 1, "ctrs" 1, "styl" 1;
}

/* font declerations */
@font-face {
  font-family: 'Noordzij';
  src: url('font/NoordzijTributev2GX.ttf');
  /* INITIAL font-variation-settings, defining NORMAL */
  font-weight: 10;
  font-style: 1;
}

.Noordzij{
  font-family: 'Noordzij';

}
/* numeric font */
@font-face {
    font-family: 'NarkisBlock';
    src: url('font/VC_NarkisBlock-Regular.otf');
}

body{
  margin: 0;
  background-color: var(--bg-color);
  /* height: 100%; */
  overflow: hidden;
}

/* HEADER */


/* MAIN */

.main{
  /* height: 100%; */
  margin-top: var(--page-margins);
}

/* bottomSection */

.bottomSection{
  /* flex: 30%; */
  /* display: flex; */
  /* flex-direction:row; */
  /* justify-content: center; */
  /* background-color: red; */
  padding-right: var(--page-margins);
  padding-left: var(--page-margins);
}

/* .bottomcontainer{
  display:flex;
  flex-direction:row;
} */

/* TEXT TESTER*/

.textTester{
  padding-right: var(--page-margins);
  padding-left: var(--page-margins);

}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.block1{
  direction: rtl;
  font-size: 2vw;
  line-height: 3vw;
}

h2{
  margin-top: 0;
  color: var(--element-color);
  /* display:inline; */
  /* background-color:white;
  line-height: 0.5; */
  z-index: 100;
}

/* h2 span {
    position: relative;
} */

h2::selection {
  color: blue;
}

/* COLOR CONTROLLERS */

.colorControlers{
  position: absolute;
  left: var(--page-margins);
  bottom: var(--page-margins);
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  z-index: 100;
}

.icon{
  object-fit: contain;
  height: 30px;
  margin-bottom: 10px;
  cursor: cell;
}

.icon:focus {
  outline: 0px solid transparent;
}

#color-bg-container{
  position: absolute;
  left: 100px;
  display:none;
}
#color-text-container{
  position: absolute;
  left: 100px;
  display:none;
}

/* LETTER INSTANCES */

#gridContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.letter {
    text-align: center;
    cursor: default;
    font-size: 20px;
    font-family: 'Noordzij';
}
.letter:hover {
  color: var(--element-color);
}
